initialize() {
	
	// CHROMOSOME 
	initializeChromosome(id=1, length=114063801, name="chr1"); 

	// MUTATION RATE (4.6e-9, Smeds et al. 2016)
	initializeMutationRate(4e-7);
	
	
	// PER BP RECOMBINATION RATE (2Mb/cM; r=5e-9)
	initializeRecombinationRate(5e-9);
	
	
	// MUTATION TYPES
	// neutral (syn)
	initializeMutationType("m1", 0.5, "f", 0);
	// deleterious
	initializeMutationType("m2", 1.0, "g", -0.03, 0.2);
	
	
	// GENOMIC ELEMENT TYPES
	// exons ((neutral:deleterious)
	initializeGenomicElementType("g1", c(m1,m2), c(1,1.62));
	

	// GENOMIC STRUCTURE
	// exons
	lines = readFile("~/Desktop/KROH/data/slim/genome_structure/exon_chr1.txt");
	for (line in lines)
	{
		components = strsplit(line, "\t");
		initializeGenomicElement(g1, asInteger(components[0])-1, asInteger(components[1])-1);
	}
}


// SIMULATE POPULATION
1 early() {
	sim.addSubpop("p1", 700);
	}
20000 early() {
	p1.setSubpopulationSize(295);
	p1.outputVCFSample(sampleSize=7, filePath="/Users/abc6435/Desktop/KROH/data/slim/rxy/slim_chr1_1929.vcf");
	} //1929*
20040 early() {
	p1.setSubpopulationSize(161);
	p1.outputVCFSample(sampleSize=7, filePath="/Users/abc6435/Desktop/KROH/data/slim/rxy/slim_chr1_2009.vcf");
} //2009*

20045 late() {
	} //2019

//https://groups.google.com/g/slim-discuss
